


<html lang="eng">
    <head>
        <title>WhatsPup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <style type = "text/css">

        </style>
    </head>
    <body style="margin: 0; padding: 2em; background-color: #f2f2f2">
        <table style="text-align: center; background-color: orange; width: 90%">
            <tr style="background-color: green;">
                <td style="color: blue; width:100%; text-align: center">This is a headline</td>
            </tr>
            <tr>
                <td style="color: red; width: 30%">
                    <img src="../images/clock.jpg">    
                </td>
                <td style="text-align: left; width: 70%">
                    <h2>Time of Visit:</h2>
                    <p>{{phoneNumber}}</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">This is the footer</td>
            </tr>  
        </table>
    </body> 
</html>


